In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('xgb2.csv')

In [3]:
df

       TARGET(PRICE_IN_LACS)
0                          6
1                         82
2                         66
3                         44
4                         38
...                      ...
68715                    115
68716                    119
68717                   8080
68718                     81
68719                    562

[68720 rows x 1 columns]

In [4]:
df1 = df.abs()

In [5]:
df1.to_csv('xgb3.csv', index=False)